body{
    margin: 0px;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url('./papyrusBgColor.jpg');
}
p{
    margin: 0px
}
